<!DOCTYPE html>
<html lang="br">
<body>
<form name="login" action="" method="POST">
	<input type="text" name="nome">
    <input type="password" name="email">
    <input type="password" name="senha">
    <button type="submit" value="Enviar">Enviar</button>
</form>
</body>
</html>